.card-link {
    transition: 'transform 0.3s ease, box-shadow 0.3s ease',
}

.card-link:hover {
    transform: 'translateY(-8px)';
    box-shadow: 6
}

.card-container {
    position: relative;
}

.card-img {
    width: 175px;
    height: auto;
    object-fit: cover;
    display: block;
}

.top-icon {
    position: absolute;
    top: -10px;
    left: -15px;
}

.icon-container {
    position: relative;
    width: 45%;
}
