.MuiCard {
    transition: 'transform 0.3s ease, box-shadow 0.3s ease',
}

.MuiCard:hover {
    transform: 'translateY(-8px)';
    box-shadow: 6
}

.card-container {
    position: relative;
}

.card-img {
    width: 175px;
    height: auto;
    object-fit: cover;
    display: block;
}

.top-icon {
    position: absolute;
    top: -10px;
    left: -15px;
}

.icon-container {
    position: relative;
    width: 45%;
}

.top-icon-img {
    width: 95%;
    height: auto;
    z-index: 2;
}

.text-in-icon {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    color: beige;
    font-size: 175%;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
